
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My coffee shop </title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>


    <section class="contact" id="contact">

        <h1 class="heading"> <span>Login</span> Here </h1>

        <div class="row">

          
            <img src="../images/logo.png" alt="" class="img">
            <form method="post" asp-controller="account" asp-action="login">
                <h3> UserName = User1 - Password = Pass123</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="username" name="username">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="password" name="password" placeholder="password">
                </div>

                <input type="submit" value="login" class="btn" />
            </form>

         
          
        </div>

    </section>


   
</body>
</html>

